/* Variables */
:root {
    --transition: all 300ms linear;
    --colorborder: #3A57E8;
    --hovermenu: #3A57E8;
    --backgroundHeader: #050C9C;
    --backgroundTimeline: #e9ecef;
    --backgroundTimelinePanel: #f8f9fa;
    --colorfooter: #6c757d;
    --transitionPricing: transform 0.3s;
    --list-style: none;
}

/* Basic reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/******* Global styles *******/

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}


/* CSS to prevent horizontal scroll */
body {
    overflow-x: hidden;
}

.sidebar {
    max-width: 100%;
    overflow-x: hidden;
}

main {
    max-width: 100%;
    overflow-x: hidden;
}

.vertical-menu {
    max-width: 100%;
    overflow-x: hidden;
}


/* Error page  */
.fontErr {
    font-size: 400px;
}

.bgErr {
    background-image: url(../../images/authentication/lock\ screen.jpg);
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.timer {
    font-size: 2rem;
    font-weight: bold;
}

/*End error page  */

/* vectorMap page */
.sidebar {
    min-height: 100vh;
}

.dropdown-toggle::after {
    content: '';
    display: inline-block;
    margin-left: .5em;
    vertical-align: .25em;
    border: .4em solid transparent;
    border-top-color: currentColor;
    transition: transform 0.3s ease;

}

.collapsed::after {
    transform: rotate(-90deg);
}

.vertical-menu .list-group-item:hover {
    background-color: var(--hovermenu);

}

@media (max-width: 767.98px) {
    .sidebar {
        min-height: auto;
    }
}

#map {
    height: 500px;
    width: 100%;
}

.sizeicon {
    font-size: 5px;
}

.bgHeader {
    background-image: radial-gradient(circle, #4a249d, #4c3eaf, #4f54c0, #556acf, #5e7fdd, #5980e3, #5381ea, #4c82f0, #316ef0, #1459ed, #0041e8, #0521e0);
}

.search-box {
    max-width: 300px;
}

.imgflag {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media (max-width: 991.98px) {
    .sidebar {
        display: none;
    }

    .sidebar.collapse.show {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1040;
        height: 100%;
        overflow-y: auto;
        background-color: white;
    }

    .sidebar.collapse.show {
        display: block;
    }
}

@media (min-width: 991.98px) {
    .sidebar {
        display: block;
    }
}

.imgsize {
    width: 15px;
    height: 15px;
}

.bgclass {
    background-color: #dee1e6;
}

/* end vectorMap page */

/* spacialPages */
.kanban {
    gap: 10px;
}

.column {
    background-color: var(--backgroundTimelinePanel);
    min-width: 300px;
    height: max-content;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-description {
    color: var(--colorfooter);
}

.card-footer {
    font-size: 12px;
    color: var(--colorfooter);
}

.pricing-card {
    transition: var(--transitionPricing);
}

.pricing-card:hover {
    transform: scale(1.05);
}

.pricing-features {
    list-style: var(--list-style);
}

.pricing-features li {
    margin: 10px 0;
}

.dot-menu-btn {
    background: none;
    border: none;
    color: #000;
}

.btn-hover-orange:hover {
    background-color: #ff6600 !important;
    /* رنگ نارنجی */
    border-color: #ff6600 !important;
    /* رنگ نارنجی */
}

.btn-hover-blue:hover {
    background-color: #c5ccf8 !important;
    border-color: #c5ccf8 !important;
    color: #37557b;
}

.bg-popular {
    background-color: #D5EBDF;
    color: #1AA053;
}

.bg-popularPro {
    background-color: #c8ccfb;
    color: #5261d4;
}

/* timeline */
.timeline {
    position: relative;
    list-style: var(--list-style);
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--backgroundTimeline);
    left: 50%;
    margin-left: -1px;
}

.timeline-item {
    position: relative;
}

.timeline-item:after {
    content: "";
    display: table;
    clear: both;
}

.timeline-item .timeline-panel {
    position: relative;
    width: 46%;
    padding: 20px;
    border-radius: 4px;
    background: var(--backgroundTimelinePanel);
    border: 1px solid #e9ecef;
}

.timeline-item .timeline-image {
    position: absolute;
    z-index: 100;
    left: 50%;
    width: 22px;
    height: 22px;
    margin-left: -11px;
    background: #6c757d;
    border-radius: 50%;
    border: 1px solid #e9ecef;
}

.timeline-item .timeline-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.timeline-item.left .timeline-panel {
    float: left;
}

.timeline-item.left .timeline-panel:before {
    left: -15px;
    right: auto;
    border-left-width: 0;
    border-right: 15px solid var(--backgroundTimelinePanel);
}

.timeline-item.right .timeline-panel {
    float: right;
}

.timeline-item.right .timeline-panel:before {
    left: auto;
    right: -15px;
}

@media (max-width: 767px) {
    .timeline:before {
        left: 0;
    }

    .timeline-item .timeline-panel {
        width: calc(100% - 60px);
        float: none !important;
        margin-left: 60px;
    }

    .timeline-item.left .timeline-panel:before,
    .timeline-item.right .timeline-panel:before {
        left: -15px;
        border-left-width: 0;
        border-right: 15px solid var(--backgroundTimelinePanel);
    }

    .timeline-item .timeline-image {
        left: 0;
        margin-left: 0;
    }
}

.timelineLeft,
.timelineRight {
    position: relative;
    padding: 2rem 0;
    list-style: none;
}

.timelineLeft::before,
.timelineRight::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #dee2e6;
    left: 0%;
    margin-left: -1px;
}


.timelineLeft-item,
.timelineRight-item {
    position: relative;
    margin: 0 0 2rem 0;
}


.timelineLeft-item::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 0;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #007bff;
    border: 3px solid #fff;
}

.timelineLeft-item .timelineLeft-content,
.timelineRight-item .timelineRight-content {
    position: relative;
    width: 95%;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}


.timelineLeft-item:nth-child(odd) .timelineLeft-content,
.timelineLeft-item:nth-child(even) .timelineLeft-content,
.timelineRight-item:nth-child(odd) .timelineRight-content,
.timelineRight-item:nth-child(even) .timelineRight-content {
    left: 5%;
}


.timelineLeft-item .timelineLeft-content h5,
.timelineRight-item .timelineRight-content h5 {
    margin-top: 0;
}


@media (max-width: 767px) {

    .timelineLeft::before,
    .timelineRight::before {
        left: 0;
    }

    .timelineLeft-item::before,
    .timelineRight-item::before {
        left: 0;
        margin-left: 0;
    }

    .timelineLeft-item .timelineLeft-content,
    .timelineRight-item .timelineRight-content {
        width: 100%;
        left: 0 !important;
        margin-left: 2rem;
    }
}

.timelineIcon {
    position: absolute;
    left: 0%;
    top: 0;
    margin-left: -10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;

}

/* end spacialPages */
/* Widget */

.star-rating .fa-star {
    font-size: 1em;
    color: gray;
}

.star-rating .fa-star.checked {
    color: gold;
}

.card-custom {
    margin-bottom: 20px;
}

.colorbtn {
    background-color: #c13221;
}


/* end Widget */

/* dashboard */


.circleBlue {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 3px solid #5a7ae1;

}

.circlegreen {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 3px solid #1ebfc7;

}

.circleBlue img,
.circlegreen img {
    max-width: 50%;
    height: auto;
}

@media (max-width: 576px) {
    .circleBlue {
        width: 50px;
        height: 50px;
    }

    .circlegreen {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .circleBlue {
        width: 55px;
        height: 55px;
    }

    .circlegreen {
        width: 55px;
        height: 55px;
    }
}


canvas {
    max-width: 100%;
    height: auto;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 400px;
    /* You can adjust the height as needed */
}

.contactimg{
    max-width: 50%;
    height: auto;
}

/* end dashboard */